

    
      <!--tr>
        <td><%= ecomic_overview.name %></td>
        <td><%= ecomic_overview.description %></td>
        <td><%= ecomic_overview.comic_type %></td>
        <td><%= ecomic_overview.user_id %></td>
        <td><%= link_to 'Show', ecomic_overview %></td>
        <% if editable %>
          <td><%= link_to 'Edit', edit_ecomic_path(ecomic_overview) %></td>
          <td><%= link_to 'Destroy', ecomic_overview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr-->

<div class="col-md-2">
  <div>
    <%= image_tag ecomic_overview.frames.first.picture.url(:medium), class: "img-responsive" if !ecomic_overview.frames.empty? %>
  </div>
  <div class="text-holder">
    <h3><%= ecomic_overview.name %></h3>
  </div>
  <div class="text-holder">
    <%= ecomic_overview.description.truncate(80) %>
  </div>
  <div class="text-holder">
    Auteur : <%= ecomic_overview.user.name %>
  </div>
  <div>
    <%= link_to 'Read', ecomic_overview %>
    <% if editable %>
      <%= link_to 'Edit', edit_ecomic_path(ecomic_overview) %>
      <%= link_to 'Destroy', ecomic_overview, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
