
<div class="row">
  <div class="col-md-4 ecomic-left-panel">


    <table class="table table-striped table-hover">
      <tbody>
        <%= render partial: "frames/frame_overview", collection: @ecomic.frames %>
      </tbody>
    </table>
  </div>

  <div class="col-md-8 ecomic-right-panel">
    <%= render partial: "ecomics/ecomic", locals: { ecomic: @ecomic } %>

  </div>
</div>




<h1>Edit my comic</h1>

<%= render 'form' %>


<p>
  <h3>ADD FRAMES</h3>
  <%= render partial: "frames/form", locals: { ecomic: @ecomic } %>
</p>

<!--p>
  <h3>ALL FRAMES</h3>
  <%= render partial: "frames/frame", collection: @ecomic.frames %>
</p-->



<%= link_to 'Show', @ecomic %> |
<%= link_to 'Back', ecomics_path %>

