<h1>Listing ecomics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ecomics.each do |ecomic| %>
      <tr>
        <td><%= ecomic.name %></td>
        <td><%= ecomic.description %></td>
        <td><%= ecomic.type %></td>
        <td><%= ecomic.user_id %></td>
        <td><%= link_to 'Show', ecomic %></td>
        <td><%= link_to 'Edit', edit_ecomic_path(ecomic) %></td>
        <td><%= link_to 'Destroy', ecomic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ecomic', new_ecomic_path %>
