<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ecomic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ecomic.description %>
</p>

<p>
  <strong>Comic type:</strong>
  <%= @ecomic.comic_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @ecomic.user_id %>
</p>

<%= link_to 'Edit', edit_ecomic_path(@ecomic) if user_signed_in? && current_user == @ecomic.user %>
<%= link_to 'Back', ecomics_path %>
