<h2>

  <strong>Name:</strong>
  <%= @ecomic.name %>

</h2>
<p>
  <strong>Description:</strong>
  <%= @ecomic.description %>
</p>

<p>
  <strong>Comic type:</strong>
  <%= @ecomic.comic_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @ecomic.user.name %>
</p>

<%= link_to 'Edit', edit_ecomic_path(@ecomic) if user_signed_in? && current_user == @ecomic.user %>
<%= link_to 'Back', ecomics_path %>


<p>
  <h3>ALL FRAMES</h3>
  <%= render partial: "frames/frame", collection: @ecomic.frames %>
</p>
