<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">My PopComics</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%=set_active("static_pages/home")%>"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="<%=set_active("ecomics/index")%>"><%= link_to "Library", ecomics_path %></li>
        <li class="<%=set_active("ecomics/new")%>"><%= link_to "Editor", new_ecomic_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="<%=set_active("ecomics/myecomics") %>"><%= link_to "My PopComics", myecomics_path, class: 'navbar-link navbar-elem'  %></li>
          <li class="<%=set_active("devise/registrations/edit")%>"><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link navbar-elem' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link navbar-elem'  %></li>
        <% else %>
          <li class="<%=set_active("devise/sessions/new") %>"><%= link_to "Login", new_user_session_path, class: 'navbar-link navbar-elem'%></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link navbar-elem' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
